<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Please sign up</h1>
    <form action='/users' method='post'>
      <label>
        email
        <input type='text' name="email">
      </label>
      <label>
        password
        <input type='text' name="password">
      </label>
      <input type='submit' value="Sign up">
    </form>
  </body>
</html>
