<!DOCTYPE html>
<html>
	<div>
	<form action="/links" method="post">
	<label for="name">
		Website Name: <input type="text" name="name">
	</label>
	<label for="url">
		URL: <input type="text" name="url">
	</label>
	<label for="tags">
		Tag: <input type="text" name="tags">
	</label>
	<input type="submit" value="Add link">
	</form>
	</div>
</html>
